*{
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

body{
    background-color: hsl(235, 18%, 26%);
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1440px;
    min-width: 375px;
    min-height: 100vh;
    line-height: 24px;
    font-family:'Roboto',sans-serif ;
    color: hsl(235, 18%, 26%);
    padding: 0px 10px;
}

body::-webkit-scrollbar{
    display: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

main{
    background-color: white;
    border: none;
    border-radius: 15px;
    margin: auto;
    vertical-align: middle;
    max-width:810px ;
    width: auto;
    max-height: 100% ;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3.6655fr 3fr ;
    }

.image-container-mobile{
    display: none;
    background-image: url(/images/illustration-sign-up-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}  
    
.form-container{
    padding: 20px 30px;
    display: grid;
    row-gap:15px ;
    column-gap: 15px;
    justify-items: left;
    justify-content: center;
    text-align: left ;
}
.form-container h1{
    font-size: 40px;
    margin: 0;
    overflow-wrap: break-word;
    margin-top: 10px;
    display: block;
    height: 40px;
    width: 100%;
    }

.form-container p:first-of-type{
    background-image: none;
    padding: 0;
}

.form-container p:last-of-type{
    color: inherit;
    font-size: 16px;
}


.form-container p{
    font-size: 16px;
    background-image: url(/images/icon-list.svg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    content: "";
    clear: both;
    display: table;
    margin: 0;
    padding-left: 30px;
}

label{
    color: rgb(36, 39, 66);
    font-weight: 700;
}

.form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px 0px 0px;
}

input[type="email"]{
    width: 100%;
    padding: 10px;
    height: 46px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(146, 148, 160);
    border-style: solid;
    font-size: 16px;
    outline: none;
    font-family: inherit;    
}

input:focus{
    border: 1.5px solid black;
}

form button, .success button {
    width: 100%;
    height: 46px;
    background-color:rgb(36, 39, 66) ;
    border: 1px solid transparent ;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
    padding: 10px;
}

form button:hover, .success button:hover {
    background-color: hsl(4, 100%, 67%) ;
    box-shadow: 3px 10px 13px -6px hsl(4, 100%, 67%);
}

.image-container{
    background-image: url(/images/illustration-sign-up-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 10px;
}

.success{
    display: grid;
    row-gap:15px ;
    column-gap: 15px;
    max-width: 400px;
    max-height: 450px;
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 40px 30px;
    justify-items: left;
    text-align: left;
    margin: auto;
}

.success figure{
    width: 100%;
    margin: 0;
}

.success div{
    display: grid;
    gap: 30px;
}

.success div h2{
    font-size: 37px;
    line-height: 37px;
    font-weight: 700;
    
}

.success div p{
    font-size: 16px;
    color: black;
    display: block;
}


.show{
    display: none;
}

body .info p:last-of-type{
    color: white;
    margin: 0;
    font-size:11px ;
}

a{
    color: rgb(146, 148, 160);
}

@media screen and (max-width: 1024px),( min-height: 980) {
    body{
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        overflow-y: auto;
    }

    main {
        display: grid;  
        grid-template-columns: 100%;
        grid-template-rows: 2fr 3fr; 
        gap: 10px; 
        padding: 20px;
        border-radius: 15px;
        margin: auto;
        max-width: fit-content;
        min-width: fit-content;  
        width: fit-content;
        height: fit-content;
        max-height: fit-content;
        min-height: fit-content;
  
      }
  
      .image-container-mobile{
          display: inline-block;
          background-image: url(/images/illustration-sign-up-mobile.svg);
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 280px;
          border-radius: 10px;
      }  
  
      .image-container {
        display: none;
      }
      .form-container {
        text-align: left;
        height: fit-content;
      }

      .success{
        margin: auto;
    }
      
}

@media screen and (max-width: 565px) {

    body{
        padding: 0;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: unset;
        justify-items: unset;
        overflow-y: auto;
        max-width: 100vw;
        width: 100%;
    }

    main {
      display: grid;  
      grid-template-columns: 100%;
      grid-template-rows: 1fr 2fr; 
      gap: 10px; 
      padding: 0px 0px 20px;
      border-radius: 10px;
      margin: 0;
      max-width: 100%;
      min-width: 100%;  
      width: fit-content;
      height: fit-content;
      max-height: 130vh;
      min-height: 100vh;

    }

    .image-container-mobile{
        display: inline-block;
        background-image: url(/images/illustration-sign-up-mobile.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 280px;
        border-radius: 10px;
    }  

    .image-container {
      display: none;
    }
    .form-container {
      text-align: left;
      height: fit-content;
    }

    .success {
      max-width: 100vh;
      min-height: 100vh;
      height: 100vh;
      gap: 30px;
      grid-template-rows: 9fr 1fr;
      padding-block: 40px;
      border-radius: 15px;
      margin: auto;
      justify-items: center;
      justify-content: center;
    }

    .success-content{
        height: fit-content;
        margin: auto;
    }
  
    .success button{
        align-self: self-end;
    } 
  }
